<div class="row">
    <div class="p-4">
       <input type="text" [(ngModel)]="term" class="form-control">
    </div>
    <div class="col-md-4 d-flex align-items-center">
        <div>
            <div class="brdr w-25 mb-3"></div>
            <h2 class="h5">
                Trending Movies <br> To Watch Right now
            </h2>
            <p class="text-muted py-2">most watches Movies by The Day</p>
            <div class="brdr w-100 mb-3"></div>
        </div>
        
    </div>
    <div class="col-md-2"  *ngFor="let movie of trendingMovies |search:term">
        <app-mediaitem [item]="movie"></app-mediaitem>
    </div>
</div>


<div class="row py-5">
    <div class="col-md-4 d-flex align-items-center">
        <div>
            <div class="brdr w-25 mb-3"></div>
            <h2 class="h5">
                Trending Tv <br> To Watch Right now
            </h2>
            <p class="text-muted py-2">most watches Tv by The Day</p>
            <div class="brdr w-100 mb-3"></div>
        </div>
        
    </div>
    <div class="col-md-2"  *ngFor="let tv of trendingTv">
        <app-mediaitem [item]="tv"></app-mediaitem>
    </div>
</div>

<div class="row py-5">
    <div class="col-md-4 d-flex align-items-center">
        <div>
            <div class="brdr w-25 mb-3"></div>
            <h2 class="h5">
                Trending People <br> To Watch Right now
            </h2>
            <p class="text-muted py-2">most watches People by The Day</p>
            <div class="brdr w-100 mb-3"></div>
        </div>
        
    </div>
    <div class="col-md-2"  *ngFor="let person of trendingPeople">
        <app-mediaitem [item]="person"></app-mediaitem>
    </div>
</div>